interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://archive-api.open-meteo.com/v1/archive?latitude=48.8566&longitude=2.3522&start_date=2025-08-03&end_date=2025-08-04&hourly=temperature_2m&timezone=UTC
  response:
    body:
      string: "{\"latitude\":48.822495,\"longitude\":2.2881355,\"generationtime_ms\":0.17726421356201172,\"utc_offset_seconds\":0,\"timezone\":\"GMT\",\"timezone_abbreviation\":\"GMT\",\"elevation\":36.0,\"hourly_units\":{\"time\":\"iso8601\",\"temperature_2m\":\"\xB0C\"},\"hourly\":{\"time\":[\"2025-08-03T00:00\",\"2025-08-03T01:00\",\"2025-08-03T02:00\",\"2025-08-03T03:00\",\"2025-08-03T04:00\",\"2025-08-03T05:00\",\"2025-08-03T06:00\",\"2025-08-03T07:00\",\"2025-08-03T08:00\",\"2025-08-03T09:00\",\"2025-08-03T10:00\",\"2025-08-03T11:00\",\"2025-08-03T12:00\",\"2025-08-03T13:00\",\"2025-08-03T14:00\",\"2025-08-03T15:00\",\"2025-08-03T16:00\",\"2025-08-03T17:00\",\"2025-08-03T18:00\",\"2025-08-03T19:00\",\"2025-08-03T20:00\",\"2025-08-03T21:00\",\"2025-08-03T22:00\",\"2025-08-03T23:00\",\"2025-08-04T00:00\",\"2025-08-04T01:00\",\"2025-08-04T02:00\",\"2025-08-04T03:00\",\"2025-08-04T04:00\",\"2025-08-04T05:00\",\"2025-08-04T06:00\",\"2025-08-04T07:00\",\"2025-08-04T08:00\",\"2025-08-04T09:00\",\"2025-08-04T10:00\",\"2025-08-04T11:00\",\"2025-08-04T12:00\",\"2025-08-04T13:00\",\"2025-08-04T14:00\",\"2025-08-04T15:00\",\"2025-08-04T16:00\",\"2025-08-04T17:00\",\"2025-08-04T18:00\",\"2025-08-04T19:00\",\"2025-08-04T20:00\",\"2025-08-04T21:00\",\"2025-08-04T22:00\",\"2025-08-04T23:00\"],\"temperature_2m\":[14.0,13.9,13.4,13.2,12.9,12.8,13.6,15.5,17.6,19.3,20.5,21.5,22.8,23.4,23.7,25.0,24.5,24.1,23.7,22.7,20.1,19.4,19.1,18.7,18.9,19.3,18.9,18.4,18.3,18.2,18.5,19.0,19.9,20.5,21.6,22.8,23.4,26.5,27.3,28.4,28.3,28.0,27.4,26.0,24.5,23.5,21.7,20.7]}}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
