interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://web-api.tp.entsoe.eu/api?documentType=A65&processType=A16&outBiddingZone_Domain=10YFR-RTE------C&out_Domain=10YFR-RTE------C&securityToken=FAKE&periodStart=202412310000&periodEnd=202501010000
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<GL_MarketDocument xmlns=\"urn:iec62325.351:tc57wg16:451-6:generationloaddocument:3:0\">\n
        \   <mRID>6693af6418e5491eb2e06c99b68776bc</mRID>\n    <revisionNumber>1</revisionNumber>\n
        \   <type>A65</type>\n    <process.processType>A16</process.processType>\n
        \   <sender_MarketParticipant.mRID codingScheme=\"A01\">10X1001A1001A450</sender_MarketParticipant.mRID>\n
        \   <sender_MarketParticipant.marketRole.type>A32</sender_MarketParticipant.marketRole.type>\n
        \   <receiver_MarketParticipant.mRID codingScheme=\"A01\">10X1001A1001A450</receiver_MarketParticipant.mRID>\n
        \   <receiver_MarketParticipant.marketRole.type>A33</receiver_MarketParticipant.marketRole.type>\n
        \   <createdDateTime>2025-11-04T15:16:19Z</createdDateTime>\n    <time_Period.timeInterval>\n
        \       <start>2024-12-31T00:00Z</start>\n        <end>2025-01-01T00:00Z</end>\n
        \   </time_Period.timeInterval>\n    <TimeSeries>\n        <mRID>1</mRID>\n
        \       <businessType>A04</businessType>\n        <objectAggregation>A01</objectAggregation>\n
        \       <outBiddingZone_Domain.mRID codingScheme=\"A01\">10YFR-RTE------C</outBiddingZone_Domain.mRID>\n
        \       <quantity_Measure_Unit.name>MAW</quantity_Measure_Unit.name>\n        <curveType>A01</curveType>\n
        \       <Period>\n            <timeInterval>\n                <start>2024-12-31T00:00Z</start>\n
        \               <end>2025-01-01T00:00Z</end>\n            </timeInterval>\n
        \           <resolution>PT15M</resolution>\n            <Point>\n                <position>1</position>\n
        \               <quantity>61705</quantity>\n            </Point>\n            <Point>\n
        \               <position>2</position>\n                <quantity>61705</quantity>\n
        \           </Point>\n            <Point>\n                <position>3</position>\n
        \               <quantity>61705</quantity>\n            </Point>\n            <Point>\n
        \               <position>4</position>\n                <quantity>61705</quantity>\n
        \           </Point>\n            <Point>\n             [...]
